.navbar {
    /*transition: all 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);*/
    transition: background-color 0.25s ease-out;

}

.nav-link {
    cursor: pointer;
}

.bgdark {
    background-color: #282828!important;
}

.navbar-brand {
    cursor: pointer;
}
